<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="en">

<head>
   <title>Join & Join </title>
   <!-- Meta tags -->
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="keywords" content="Summer Camp Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
   <script>
      addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
   </script>
   <!--//Meta tags -->
   <!--stylesheets-->
   <link href="/css/creative.min.css" rel="stylesheet">
   <link href="/css/style_reservation.css" rel='stylesheet' type='text/css' media="all">
   <!--//style sheet end here-->
   <!-- Google fonts here-->
   <link href="//fonts.googleapis.com/css?family=Barlow:300,400,500" rel="stylesheet">
   <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
   <!--//Google fonts here-->
   <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
   <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
   <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

   <!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" color="">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/index">Join & Join</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link js-scroll-trigger" href="reserv">Reservation</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav> -->

   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
         <a class="navbar-brand js-scroll-trigger" href="/index">Join & Join</a>
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/reserve">Reservation</a>
               </li>
               <%if(username == 'admin'){ %>
               <li class="nav-item">
                  <a class="nav-link" href="/admin">
                     <%=username%></a>
               </li>
               <%} 
              else if (username != 'guest'){%>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" href="#">
                     <%=username%>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="userDropdown">
                     <a class="dropdown-item" href="/logout">Logout</a>
                  </div>
               </li>
               <%} else { %>
               <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
               </li>
               <%}%>
            </ul>
         </div>
      </div>
      </div>
   </nav>

   <h1 class="header-w3ls">
      Reservation
   </h1>
   <!-- multistep form -->
   <div class="main-bothside">
      <form action="step3" method="post">
         <div class="main-title">
            <h2> Select room type / breakfast count </h2>
         </div>
         <div class="form-group">
            <div class="form-mid-w3ls">
            <% console.log(room_list)%>
            <select name="room_type" class="form-control buttom">
                  <%console.log(room_list)
                  //예약 가능한 방 정보는 room_list 에 담아서 전달됩니다.
                  //room_list[0]['room_number'] 형태로 꺼내서 쓰시면 됩니다.
                  //방 번호의 첫번째 자리가 등급이므로 백의자리만 잘라서 등급별 조건문 처리하면 될 듯 합니다.
                  %>   
                  <% for (var i=0; i<room_list.length; i++) {
                     var number=Math.floor(room_list[i]['room_number']/100);
                     if (number==1) {%>
                        <option value="<%=room_list[i]['room_number']%>"><%= room_list[i]['room_number'] %>/ <%= room_list[i]['grade'] %>/ 150,000</option>
                     <%continue;}else if (number==2) {%>
                        <option value="<%=room_list[i]['room_number']%>"><%= room_list[i]['room_number'] %>/ <%= room_list[i]['grade'] %>/ 200,000</option>
                     <%continue;}else if (number==3) {%>
                        <option value="<%=room_list[i]['room_number']%>"><%= room_list[i]['room_number'] %>/ <%= room_list[i]['grade'] %>/ 300,000</option>
                     <%continue;}else if (number==4) {%>
                        <option value="<%=room_list[i]['room_number']%>"><%= room_list[i]['room_number'] %>/ <%= room_list[i]['grade'] %>/ 350,000</option>
                     <%continue;}else if (number==5) {%>
                        <option value="<%=room_list[i]['room_number']%>"><%= room_list[i]['room_number'] %>/ <%= room_list[i]['grade'] %>/ 500,000</option>
                     <%continue;}else if (number==6) {%>
                        <option value="<%=room_list[i]['room_number']%>"><%= room_list[i]['room_number'] %>/ <%= room_list[i]['grade'] %>/ 550,000</option>
                     <%}
                  }%>
               </select>
            </div>
         </div>
         <div class="form-group">
            <div class="form-grid-w3ls">
               <input type="number" name="breakfast_cnt" class="form-control" placeholder="Breakfast count" required="">
            </div>
         </div>
         <input type="hidden" name=check_in value="<%=check_in%>">
         <input type="hidden" name=check_out value="<%=check_out%>">
         <input type="hidden" name=howmany value="<%=howmany%>">
         <input type="submit" value="Next">
      </form>
   </div>
   <!-- js -->
   <script src='/vendor/jquery/jquery.min.js'></script>
   <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- //js -->
</body>

</html>